<app-header></app-header>
<div class="container" style="padding-top: 40px;">
  <div class="example-container">
    <div class="mb-2">
      <form class="d-flex" style="width: 25%; float: right">
        <input class="form-control me-2" type="search" placeholder="Search"
        name="searchInput" [(ngModel)]="searchText">
        <button class="btn btn-secondary me-2" type="submit" 
        (click)="applyFilter()">Search</button>
      </form>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
    matSortActive="author" matSortDirection="asc" matSortDisableClear>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="getRecord(element)">
          <a href="javascript:void(0)" class="heading">{{element.title}} </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.author ? element.author : 'Unknown'}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price ($)</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price ? element.price : 'Free'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"><a href="javascript:void(0)" (click)="deleteBook(element)"> Delete</a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="editDetails(row)"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 15]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
</div>